*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.maincon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #607d8b;
}
.container{
    position: relative;
    top: 50px;
}
.cup{
    position: relative;
    width: 280px;
    height: 300px;
    background: linear-gradient(to right,#f9f9f9,#d9d9d9);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}
.top{
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right,#f9f9f9,#d9d9d9);
    border-radius: 50%;
}
.circle{
    position: absolute;
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 50px;
    background: linear-gradient(to left,#f9f9f9,#d9d9d8);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}
.tea{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#c57e65,#e28462);
    border-radius: 50%;
}
.handle{
    position: absolute;
    right: -70px;
    top: 40px;
    width: 160px;
    height: 180px;
    border: 25px solid #dcdcdc;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-radius: 50%;
    transform: rotate(42deg);
}
.plate{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform:translateX(-50%);
    width: 500px;
    height: 200px;
    background: linear-gradient(to right,#f9f9f9,#e7e7e7);
    border-radius: 50%;
    box-shadow: 0 35px 35px rgba(0,0,0,0.2);
}
.plate::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: linear-gradient(to left,#f9f9f9,#e7e7e7);
}
.plate::after{
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: radial-gradient(rgba(0,0,0,0.2) 25%,transparent,transparent);
    border-radius: 50%;
}
.vapour{
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}
.vapour span{
    position: relative;
    bottom: 50px;
    display: block;
    margin: 0 2px 50px;
    min-width: 8px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(8px);
    animation-delay: calc(var(--i) * 0.5s);
}
@keyframes animate {
    0%{
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    50%{
        transform: translateY(-150px) scaleX(5);
    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-300px) scaleX(10);
    }
}
.maincontwo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #9c27b0;
}
.loader{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(60deg);
}
.loader span{
    position: absolute;
    display: block;
    border: 5px solid #fff;
    box-shadow: 0 5px 0 #ccc,
                inset 0 5px 0 #ccc;
    box-sizing: border-box;
    border-radius: 50%;
    animation: animatetwo 3s ease-in-out infinite;
}
@keyframes animatetwo {
    0%,100%{
        transform: translateZ(-100px);
    }
    50%{
        transform: translateZ(100px);
    }
}
.loader span:nth-child(1){
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-delay: 1.4s;
}
.loader span:nth-child(2){
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    animation-delay: 1.3s;
}
.loader span:nth-child(3){
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    animation-delay: 1.2s;
}
.loader span:nth-child(4){
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    animation-delay: 1.1s;
}
.loader span:nth-child(5){
    top: 40px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    animation-delay: 1s;
}
.loader span:nth-child(6){
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    animation-delay: 0.9s;
}
.loader span:nth-child(7){
    top: 60px;
    left: 60px;
    bottom: 60px;
    right: 60px;
    animation-delay: 0.8s;
}
.loader span:nth-child(8){
    top: 70px;
    left: 70px;
    bottom: 70px;
    right: 70px;
    animation-delay: 0.7s;
}
.loader span:nth-child(9){
    top: 80px;
    left: 80px;
    bottom: 80px;
    right: 80px;
    animation-delay: 0.6s;
}
.loader span:nth-child(10){
    top: 90px;
    left: 90px;
    bottom: 90px;
    right: 90px;
    animation-delay: 0.5s;
}
.loader span:nth-child(11){
    top: 100px;
    left: 100px;
    bottom: 100px;
    right: 100px;
    animation-delay: 0.4s;
}
.loader span:nth-child(12){
    top: 110px;
    left: 110px;
    bottom: 110px;
    right: 110px;
    animation-delay: 0.3s;
}
.loader span:nth-child(13){
    top: 120px;
    left: 120px;
    bottom: 120px;
    right: 120px;
    animation-delay: 0.2s;
}
.loader span:nth-child(14){
    top: 130px;
    left: 130px;
    bottom: 130px;
    right: 130px;
    animation-delay: 0.1s;
}
.loader span:nth-child(15){
    top: 140px;
    left: 140px;
    bottom: 140px;
    right: 140px;
    animation-delay: 0s;
}
.font{
    position: relative;
    width: 100%;
    height: 100vh;
    background:#111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.row{
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
}
.row i{
    color: rgba(0,0,0,0.5);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
       
}
i:hover{
    transition: 0s;
    color: #0f0;
    text-shadow:0 0 120px #0f0;
}
.row div{
    animation: amimatethree 80s linear infinite;
    animation-delay: -80s;
}
.row div:nth-child(2){
    animation: amimate2 80s linear infinite;
    animation-delay: -40s;
}
@keyframes amimatethree{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes amimate2{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}



.row:nth-child(even) div{
    animation: amimate3 80s linear infinite;
    animation-delay: -80s;
}
.row:nth-child(even) div:nth-child(2){
    animation: amimate4 80s linear infinite;
    animation-delay: -40s;
}
@keyframes amimate3{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes amimate4{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
}

/*CSS CODE FOR 4th PROJECT - CIRCLE LOADER*/

.fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #042104;
    animation: animatefour 10s linear infinite;
}
@keyframes animatefour{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.load{
    position: relative;
    width: 120px;
    height: 120px;
}
.load span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}
.load span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
                0 0 20px #00ff0a,
                0 0 30px #00ff0a,
                0 0 40px #00ff0a,
                0 0 50px #00ff0a,
                0 0 60px #00ff0a,
                0 0 70px #00ff0a,
                0 0 80px #00ff0a,
                0 0 90px #00ff0a,
                0 0 100px #00ff0a;
    animation: animateload 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animateload{
    0%{
        transform: scale(1);
    }
    80%,100%{
        transform: scale(0);
    }
}

/*CSS CODE FOR 5th PROJECT - TUBELIGHT TEXT*/

.five{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #07252d;
    font-family: Arial, Helvetica, sans-serif;
}
.five h2{
    font-size: 6rem;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animatefive 5s linear infinite;
}
@keyframes animatefive{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
                     0 0 20px #03bcf4,
                     0 0 40px #03bcf4,
                     0 0 80px #03bcf4,
                     0 0 160px #03bcf4;
    }
}

/*CSS CODE FOR 6th PROJECT - NEON BUTTON*/
.six{
    font-family: consolas;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: row;
    background: #050801;
    
}
.six a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 10px;
    color: #30e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    -webkit-box-reflect:below 1px linear-gradient(transparent,#0005);
}
.six a:nth-child(1){
    filter: hue-rotate(290deg);
}
.six a:nth-child(3){
    filter: hue-rotate(110deg);
}
.six a:hover{
    background: #30e9f4;
    color: #050801;
    box-shadow: 0 0 5px #30e9f4,
                0 0 25px #30e9f4,
                0 0 50px #30e9f4,
                0 0 200px #30e9f4;
}
.six a span{
    position: absolute;
    display: block;
}
.six a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#30e9f4);
    animation: animatefive1 1s linear infinite;
}
@keyframes animatefive1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

.six a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#30e9f4);
    animation: animatefive2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animatefive2 {
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.six a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#30e9f4);
    animation: animatefive3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animatefive3 {
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.six a span:nth-child(4){
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#30e9f4);
    animation: animatefive4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animatefive4 {
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

