@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.web{
    background-image: url(img/landscape.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    max-width: 430px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 500;
    padding-top: 35px;
    color: firebrick;
}
.webButn{
    margin: 60px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    background-color: chocolate;
}
.webButn a{
    text-decoration: none;
    color: aliceblue;
}
.black{
    background-color: #000;
    text-align: center;
    color: #fff;
}
.gal{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-grow: 3;
}
.gal:hover{
    transform: translate(20px);
}