*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.Gradselect{
    min-height: 100vh;
    border: 3px solid black;
    position: relative;
}
.container{
    position: absolute;
    top: 5%;
    left: 25%;
    height: 500px;
    width: 800px;
    border: 2px ridge black;
}
.i{
   position: absolute;
   left: 25%;
   top: 75%; 
}
button{
    position: absolute;
    top: 76%;
    left: 55%;
    background :radial-gradient();
    background: conic-gradient();
}